<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Game Creator</title>
        <link rel="icon" type="image/png" href="favicon.png">

        <script src="lib/vue.js"></script>
        <script src="lib/vue-resource.js"></script>

        <script src="lib/phaser.js"></script>
        <script src="lib/phaser-arcade-physics.js"></script>
        <!-- <script src="tilemap-test.js"></script> -->
		<script src="easyphaser.js"></script>
    </head>
    <body>
        <div id="game"></div>

        <div id="app">
            <template v-for="gameTemplate in gameTemplates">
                <input type="radio" v-bind:id="gameTemplate + 'Radio'" v-bind:value="gameTemplate" v-model="selectedTemplate">
                <label v-bind:for="gameTemplate + 'Radio'">{{gameTemplate}}</label>
            </template>

            <br />
            <input id="jsonfile" type="file" v-on:change='filePicked' />
            <label for="jsonfile">Upload the tilemap file</label>
            <br />

            <!-- <input v-model="firstName" placeholder="First Name">
            <input v-model="lastName" placeholder="Last Name">
            <br />

            <button id='saveButton' v-on:click='saveForm'>Save</button> -->
        </div>
        <script src="gamecreator.js"></script>
    </body>
</html>