<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Game Creator</title>
        <link rel="icon" type="image/png" href="favicon.png">

        <script src="https://unpkg.com/vue@2.0.5/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/phaser/2.6.2/phaser.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/phaser/2.6.2/custom/phaser-arcade-physics.min.js"></script>
        <script src="lib/tilemap_json_patch.js"></script>
        <!-- <script src="tilemap-test.js"></script> -->
		<script src="easyphaser.js"></script>
    </head>
    <body>
        <a href="http://riskylab.com/tilemap" target="blank">Tilemap Editor</a>
        <div id="game"></div>

        <div id="app">
            <template v-for="gameTemplate in gameTemplates">
                <a v-bind:href="'sprites/' + gameTemplate.tileset + '.png'" download>{{ gameTemplate.name }} Tiles</a>&nbsp;
            </template>
            <br />
            <template v-for="gameTemplate in gameTemplates">
                <input type="radio" v-bind:id="gameTemplate.name + 'Radio'" v-bind:value="gameTemplate.id" v-model="selectedTemplate">
                <label v-bind:for="gameTemplate.name + 'Radio'">{{ gameTemplate.name }}</label>
            </template>

            <br />
            <br />

            <label for="startX">Start X:</label>
            <input id="startX" v-model="startX" type="number" style="width:80px;" />
            <label for="startY"> Start Y:</label>
            <input id="startY" v-model="startY" type="number" style="width:80px;" />
            <br />
            <label for="finishX">Finish X:</label>
            <input id="finishX" v-model="finishX" type="number" style="width:80px;" />
            <label for="finishY"> Finish Y:</label>
            <input id="finishY" v-model="finishY" type="number" style="width:80px;" />
            <br />
            <label for="jsonfile">Upload level file:</label>
            <input id="jsonfile" type="file" v-on:change='filePicked' />

            <br />
            <br />

            <div v-for="level in levelData">
                Level {{ level.id + 1 }}: {{ level.name }}
            </div>

            <br />
            <br />
            <button v-on:click='buildGame'>Load Game!</button>

            <!-- <br />
            <br />
            <input v-model="firstName" placeholder="First Name">
            <input v-model="lastName" placeholder="Last Name">
            <br />

            <button id='saveButton' v-on:click='saveForm'>Save</button> -->
        </div>
        <script src="gamecreator.js"></script>
    </body>
</html>